.container {
  box-sizing: border-box;
  padding-top: 30px;
  padding-left: 8px;
}

nav {
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #408db3;
  color: white;
  box-sizing: border-box;
  padding: 20px 8px;
  z-index: 2;
}

h1,h2,h3, p {
  margin-bottom: 16px;
  color: white;
  text-decoration: solid;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

header {
  position: relative;
  top: 65px;
  width: 100%;
  height: 60px;
  background-color: #ffcd8f;
  border: 3px solid #8fdaff;
  margin-top: 10px;
  color: black;
  text-align: center;
  font-family: Times, "Times New Roman", Georgia, serif;
  font-size: 2em;
  padding-top: 10px;
}

article {
  width: 50%;
  height: 50%;
  background-color: #408db3;
  border: 5px solid #ffcd8f;
  position: relative;
  top: 5px;
  left: 5px;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
}

aside, president-card {
  width: 30%;
  height: 500px;
  background-color: goldenrod;
  position: absolute;
  left: 70%;
  top: 100px;
  box-shadow: 10px;
  border-radius: 15px;
}

aside img {
  width: 200px;
  height: 250px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: navy;
  position: fixed;
  bottom: 0px;
}

.articles {
  width: 65%;
  height: 70%;
  background-color: #8fdaff;
  margin-left: 2%;
  border-radius: 15px;
  position: absolute;
  top: 200px;
}

